/*é possível declarar variáveis no css*/
:root {
    --vermelho: #E50914; 
    --preta: #141414;
}

/*é necessário adicionar essas configurações para aumentar a compatibilidade com os navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

header .container {
    display: flex; /*o conteúdo fica em linha*/
    flex-direction: row;
    align-items: center;
    height: 70px;
}

header .logo {
    color: var(--vermelho);
    font-size: 28px;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    margin-right: 10px;
    padding-left: 10px;
}

header nav a:hover {
    color: rgb(230, 225, 225);
}

.filme-principal {
    font-size: 16px;
    background: url("../img/imagem-fundo.jpg");
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    width: 45%; /*vai deixar a descrição ocupar um espaço na tela, sem ocupar toda a linha*/
    margin-bottom: 40px;
}

.titulo {
    margin-top: 5%;
    font-size: 70px;
    margin-bottom: 25px;
    font-family: 'Supernatual Knight';
    font-weight: 50;
    color: rgb(212, 212, 40);
}

.botao {
    background-color: rgba(0, 0, 0, 0.637);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 40px;
}

/*configurações para o carrossel de filmes*/
.box-filme {
    height: 10%;
    width: 10%;
    display: block;
}

.carrossel-filmes {
    margin-top: 30px;
}

.recomendados {
    font-size: 18px;
    margin-bottom: 70px;
}

